<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.grpnutrisup">

    <!-- Permissions should be declared here -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrpNutriSup">

        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.GrpNutriSup" />
        <activity android:name=".HealthComplicationActivity" />
        <activity android:name=".GoalSelectionActivity" />
        <activity android:name=".CalorieResultActivity" />
        <activity android:name=".CalorieCalculationActivity" />
        <activity android:name=".ActivityLevelActivity" />
        <activity android:name=".AllergenSelectionActivity" />
        <activity android:name=".WeightGoalActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".FoodSearchActivity" />
        <activity android:name=".ImageSliderActivity" />
        <activity
            android:name=".MealActivity"/>



        <!-- MainActivity and other activities -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.GrpNutriSup" />
        <activity
            android:name=".UserCollectionActivity"
            android:exported="false"
            android:label="@string/title_activity_user_details"
            android:theme="@style/Theme.GrpNutriSup" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
